<ion-header translucent>
  <ion-toolbar>
    <ion-title>Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-margin">
    <ion-radio-group value="grape">
      <ion-list-header>
        <ion-label>Fruit</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Apple</ion-label>
        <ion-radio slot="start" color="success" value="apple"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Grape</ion-label>
        <ion-radio slot="start" color="tertiary" value="grape"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Cherry</ion-label>
        <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-list-header>
      <ion-label>
        Shipping
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked">address</ion-label>
      <ion-input placeholder="Address Line 1"></ion-input>
      <ion-input placeholder="Address Line 2"></ion-input>
      <ion-input placeholder="City"></ion-input>
      <ion-input placeholder="State"></ion-input>
      <ion-input placeholder="Zip Code"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
